<div class="card-columns">
  <div class="card" style="width: 28rem;" *ngFor="let item of adverts; index as i;">
    <!--<img src="..." class="card-img-top" alt="...">-->
    <div class="card-body">
      <h5 class="card-title">{{item.title}}</h5>
      <p class="card-text">{{item.description}}</p>
      <a href="#" class="btn btn-dark">Szczegóły</a>
      <a (click)="deleteAdvert(item.id)" class="btn btn-danger">Usuń</a>
      <a (click)="editAdvert(item.id)" class="btn btn-warning">Edytuj</a>
    </div>
  </div>
</div>
