

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oj oj</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occured, requested page not found!
                </div>
                <div class="error-actions">
                    <a href="/home" class="btn btn-dark btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Take Me Home </a>
                        
                        <a href="https://wzr.ug.edu.pl/wydzial/index.php?str=121&prac=142" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                </div>
            </div>
        </div>
    </div>
</div>
