<form class="form-newAdvert" (submit)="addAdvert()">
  <h1 class="h3 mb-3 font-weight-normal">Add new advert</h1>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="email" class="form-control" id="title" name="title" [(ngModel)]="title" placeholder="My new advert" required>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email" placeholder="name@domain.com" required>
  </div>
  <div class="form-group">
    <label for="phone">Phone number</label>
    <input type="email" class="form-control" id="phone" name="phone" [(ngModel)]="phone" placeholder="Enter your phone number">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description" [(ngModel)]="description" rows="4" placeholder="Here enter your description" required></textarea>
  </div>
  <button class="btn btn-lg btn-dark btn-block" type="submit">Add advert</button>
</form>
