<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<div class="container">
    <br/>
	<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form class="card card-sm">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input name="filter" [(ngModel)]="filter" class="form-control form-control-lg form-control-borderless" type="text" placeholder="Search advert">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-secondary" (click)="filterAdverts(filter)" type="submit">Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
</div>
<!--  ng-repeat="item in advert | orderBy:['price'] | filter: {Name: searchAdvert}"-->
<div class="card-columns" layout-align="center" >
    <div class="card" style="width: 28rem;" *ngFor="let item of filteredAdvert" >
      <!--<img src="..." class="card-img-top" alt="Image not found">-->
      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">{{item.description}}</p>
        <button (click)="detailsAdvert(item.id)" class="btn btn-dark">Details</button>
      </div>
    </div>
</div>
